{% capture flag_labels %}
{
  "🇵🇸": "Palestine",
  "🇱🇧": "Lebanon",
  "🇸🇩": "Sudan"
}
{% endcapture %}
{%- assign flag_labels = flag_labels | json_parse -%}
{%- capture links -%}
  {% include donation-link.html.liquid, label: "Bridge of Solidarity", flags: "🇵🇸", href: "https://chuffed.org/project/bridgeofsolidarity" %}
  {% include donation-link.html.liquid, label: "Lebanon Solidarity Collective", flags: "🇱🇧", href: "https://chuffed.org/project/lebanonsolidarity" %}
  {% include donation-link.html.liquid, label: "Abu Hureirah Aid Network", flags: "🇸🇩 🇵🇸", href: "https://chuffed.org/project/126887-abu-hureirah-aid-network" %}
  {% include donation-link.html.liquid, label: "Hope Giving Circle", flags: "🇵🇸", href: "https://chuffed.org/project/hope-giving-circle" %}
  {% include donation-link.html.liquid, label: "Sameer Project", flags: "🇵🇸", href: "https://linktr.ee/thesameerproject" %}
  {% include donation-link.html.liquid, label: "gazafunds.com", flags: "🇵🇸", href: "https://gazafunds.com/" %}
{%- endcapture -%}
  {%- if marquee -%}
  <div class="donation-marquee donation-links {{ class | default: "" }}" {% if nosnippet %}data-nosnippet{% endif %}>
    <ul class="marquee-list">{{ links }}</ul>
    <ul class="marquee-list" aria-hidden="true">{{ links }}</ul>
  </div>
  {%- else -%}
  <ul class="donation-links {{ class | default: "" }}" {% if nosnippet %}data-nosnippet{% endif %}>
    {{ links }}
  </ul>
  {%- endif -%}
