<div class="page-footer {{ class | default: "" }}">
  <div class="page-footer-left">
    <article class="window window-utility" id="footer-metadata">
      <div class="window-handle">
        <span class="window-button button-left"></span>
      </div>
      <div class="window-contents">
        <table class="page-metadata">
          <caption>Metadata</caption>
          {%- if show_source -%}
          <tr>
            <td>Source</td>
            <td><a href="https://github.com/cubeghost/procgen-webscape/blob/main/{{ page.inputPath }}" target="_blank">GitHub</a></td>
          </tr>
          {%- endif -%}
          {%- if show_date -%}
          <tr>
            <td>Date</td>
            <td>{{ date | date: "%b %d, %Y", "UTC" }}</td>
          </tr>
          {%- endif -%}
          <tr>
            <td>Tags</td>
            <td>
              {% if tags %}
              {%- for tag in tags -%}
              <a href="/tags/{{ tag }}">#{{ tag }}</a>
              {%- if forloop.last == false -%}&nbsp;{%- endif -%}
              {%- endfor -%}
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </article>
    {%- include counter.html.liquid -%}
  </div>

  {%- include donation-window.html.liquid, id: "footer-donation", nosnippet: true -%}
</div>