<div class="menubar-menu" style="margin-left: auto;">
  <button popovertarget="dialog-webscape" class="trigger-menu" title="webscape controls">
    <img src="/assets/happy-mac.png" class="sprite happy-mac-sprite" alt="happy computer" eleventy:ignore />
  </button>
  <dialog id="dialog-webscape" class="popover-menu" popover>
    <button id="replay-webscape">replay webscape<span class="spinner hidden"></span></button>
    <button id="cancel-replay-webscape" class="hidden">cancel replay</button>
    <button id="hide-webscape">hide webscape</button>
    <hr />
    {% for dimension in webscapeDimensions -%}
    <a href="https://observablehq.com/@cubeghost/procgen-dreamscape?width={{ dimension.width }}&height={{ dimension.height }}"
      class="webscape-link webscape-link-{{ dimension.id }} external" target="_blank">notebook</a>
    {%- endfor %}
  </dialog>
</div>

{% block scripts %}

{% capture global_dimensions %}
globalThis.__DIMENSIONS__ = {{ webscapeDimensions | json }};
{% endcapture %}
<script type="text/javascript">
  {{ global_dimensions }}
  const replayButton = document.getElementById("replay-webscape");
  const cancelButton = document.getElementById("cancel-replay-webscape");

  replayButton.addEventListener("click", (event) => {
    initialize();
  });
  cancelButton.addEventListener("click", (event) => {
    replayButton.disabled = false;
    replayButton.querySelector(".spinner").classList.add("hidden");
    cancelButton.classList.add("hidden");
    const canvasContainer = document.getElementById("webscape-canvas");
    if (canvasContainer) canvasContainer.innerHTML = "";
  });

  async function initialize() {
    const webscape = document.querySelector(".webscape");
    const orientation = getComputedStyle(webscape).getPropertyValue("--orientation");
    const scale = parseInt(getComputedStyle(webscape).getPropertyValue("--scale"));

    try {
      replayButton.disabled = true;
      replayButton.querySelector(".spinner").classList.remove("hidden");
      cancelButton.classList.remove("hidden");

      const response = await fetch(`/webscape.gif?orientation=${orientation}`);

      const buffer = await response.arrayBuffer();
      const chunkSize = parseInt(response.headers.get("x-webscape-chunk-size"));

      let canvasContainer = document.getElementById("webscape-canvas");
      if (!canvasContainer) {
        canvasContainer = document.createElement("div");
        canvasContainer.id = "webscape-canvas";
        document.querySelector(".webscape").appendChild(canvasContainer);
      }

      const { replay } = await import("/replay.js");
      replayButton.querySelector(".spinner").classList.add("hidden");

      await replay(canvasContainer, context2d, buffer, chunkSize, scale);

      replayButton.disabled = false;
      cancelButton.classList.add("hidden");
      canvasContainer.innerHTML = "";
    } catch (err) {
      replayButton.disabled = false;
      replayButton.querySelector(".spinner").classList.add("hidden");
      cancelButton.classList.add("hidden");
    }
  }

  function context2d(width, height, dpi = 1) {
    const canvas = document.createElement("canvas");
    canvas.width = width * dpi;
    canvas.height = height * dpi;
    canvas.style.setProperty("image-rendering", "pixelated");
    const context = canvas.getContext("2d", { willReadFrequently: true });
    context.scale(dpi, dpi);
    return context;
  }
</script>
{% endblock %}